<p style="color: green"><%= notice %></p>

<%= render @g %>

<div>
  <%= link_to "Edit this g", edit_g_path(@g) %> |
  <%= link_to "Back to gs", gs_path %>

  <%= button_to "Destroy this g", @g, method: :delete %>
</div>
