<h1>Seja Bem vindo</h1>
<p>Estrou aprendendo '-'</p>
<p>Data: <%= Date.today.strftime("%d/%m/%Y")%></p>

<%= render "menu"%>

<p> você esta em ambiente de <strong> <%= Rails.env == "development" ? "Desenvolvimento" : "Produção"%> </p></strong>

<p>
bem vindo <strong><%= @meu_nome %></strong>
<br>
meu curso é <strong> <%= @curso %></strong>
</p>