<p>
    <%= link_to 'Portugues', '/?locale=pt-BR ' %>
</p>

<p>
    <%= link_to "English", "/?locale=en " %>
</p>

<h1>Seja Bem vindo</h1>
<h2> O idioma utilizado na apliacação é:<%= I18n.locale == :en ? " Inglẽs Estadunidense" : " Português brasileiro"%></h2>

<p>Estrou aprendendo '-'</p>


<p>Data: <%= I18n.locale == :en ? Date.today.strftime("%m/%d/%Y") : Date.today.strftime("%d/%m/%Y")%></p>

<p><%= I18n.t('oi') %></p>

<%= render "menu"%>

<p> você esta em ambiente de <strong> <%= Rails.env == "development" ? "Desenvolvimento" : "Produção"%> </p></strong>

<p>
bem vindo <strong><%= @meu_nome %></strong>
<br>
meu curso é <strong> <%= @curso %></strong>
</p>
